#app {
  width: 100vw;
  height: 100vh;
  color: #fff;
  padding-left: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: black;
}


.linear-text {
  background: linear-gradient(to bottom, #ffffff, #a4f7ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-style {
  background-size: cover;
  background-position: center;
}

image {
  display: block;
}