#app {
  width: 100vw;
  height: 100vh;
}

.linear-text {
  background: linear-gradient(to bottom, #ffffff, #a4f7ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
}
